/********** Base styles **********/
body {
  font-family: Helvetica, sans-serrif;
}
h1 {
  margin-bottom: 15px;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.box {
  border: 3px solid black;
  background: #d8d8d8;
  margin-top: 1em;
  padding: 5px;
  position: relative;
}

.title {
  font-weight: 700;
 
}
.description {
  margin-top: 1.2em;
}
.navbar-collapse{
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.nav-link {
  background: #d8d8d8;
  border-bottom: 1px solid #000;
  opacity: .9;
 
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .navbar-collapse {
    border: none;
  }

}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}



